@CHARSET "ISO-8859-1";

body {
	background-color: #ecebea;
}

.ui-slidemenu-wrapper {
	height: 220px !important;
}

.ui-slidemenu-content {
	height: 210px !important;
}

.ui-icon.fa {
    text-indent:0px
}